<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campamentos</title>
</head>

<body>
    <h1>Todos los campamentos</h1>
    <ul>
        <% campamentos.forEach(campamento=> { %>
            <li>
                <a href="/campamentos/<%= campamento._id %>">
                    <%= campamento.titulo %>
                </a>
            </li>
            <% }); %>
    </ul>
    <a href="/campamentos/new">Nuevo Campamento</a>
</body>

</html>