<% layout('layouts/boilerplate') %>
    <h1>Todos los campamentos</h1>
    <ul>
        <% campamentos.forEach(campamento=> { %>
            <li>
                <a href="/campamentos/<%= campamento._id %>">
                    <%= campamento.titulo %>
                </a>
            </li>
            <% }); %>
    </ul>
    <a href="/campamentos/new">Nuevo Campamento</a>
